<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-textarea
        [(ngModel)]="firstName"
        label="First Name"
        placeholder = "Enter your first name"
        labelPlacement="stacked"
        rows="1"
        fill="outline"
      ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea
        [(ngModel)]="lastName"
        label="Last Name"
        placeholder = "Enter your last name"
        labelPlacement="stacked"
        rows="1"
        fill="outline"
      ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea
        [(ngModel)]="username"
        label="Username"
        placeholder = "Enter your username"
        labelPlacement="stacked"
        rows="1"
        fill="outline"
      ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea
        [(ngModel)]="password"
        label="Password"
        placeholder = "Enter your password"
        labelPlacement="stacked"
        rows="1"
        fill="outline"
      ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea
        [(ngModel)]="repeatPassword"
        label="Repeat Password"
        placeholder = "Enter your password"
        labelPlacement="stacked"
        rows="1"
        fill="outline"
      ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-buttons slot="end">
      <ion-button 
        id="btnsubmit" 
        expand="block" 
        (click)="signUp()">Sign Up</ion-button>
    </ion-buttons>
    <!-- <ion-alert
          trigger="btnsubmit"
          header="Sign Up"
          message="Data successfully stored"
          [buttons]="alertButtons"
        ></ion-alert>  -->
  </ion-item>
  <ion-note *ngIf="password !== repeatPassword && repeatPassword.length > 0" color="danger">
    Passwords do not match.
  </ion-note>
</ion-content>