<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Who We Are</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Who We Are</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="../../assets/image/whoweare.png" style="width: 100%" class="image"></ion-img>

  <ion-title size="large" class="ion-padding">Who We Are</ion-title>

  <ion-text class="ion-padding">
    <p>
      We are a dynamic team of individuals passionate about technology,
      innovation, and creating meaningful connections. Our mission is to bring
      like-minded people together to share experiences, ideas, and opportunities
      for growth.
    </p>
  </ion-text>

  <ion-item>
    <ion-button size="small" (click)="like()">
      <ion-icon name="thumbs-up-outline"></ion-icon>
      Like
    </ion-button>
    <ion-label>{{ likeCount }} Likes</ion-label>
  </ion-item>

  <ion-item>
    <ion-tabs class="footer-content">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="what-we-play" routerLink="/what-we-play">
          <ion-icon name="game-controller-outline"></ion-icon>
          <ion-label>What We Play</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="who-we-are" routerLink="/who-we-are">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Who We Are</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="our-schedule" routerLink="/our-schedule">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Our Schedule</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-item>
</ion-content>