<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline" class="icon-home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-header">Who We Are</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline" class="icon-person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Who We Are</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="../../assets/image/whoweare.png" class="image"></ion-img>

  <ion-title size="large" class="title-content">Who We Are</ion-title>

  <ion-text>
    <p>
      We are a dynamic team of individuals passionate about technology,
      innovation, and creating meaningful connections. Our mission is to bring
      like-minded people together to share experiences, ideas, and opportunities
      for growth.
    </p>

    <p>
      Our mission is to unite like-minded individuals who share a desire to exchange experiences, 
      ideas, and opportunities. We envision a vibrant community where creativity flourishes and innovation thrives. 
      Through workshops, events, and collaborative projects, we aim to cultivate an environment that encourages open 
      dialogue and inspires participants to think outside the box.
    </p>  

    <p>
      We understand that technology is not just about tools and systems; it's about the people who use them. Therefore, 
      we prioritize building strong relationships within our community, ensuring that everyone feels valued and empowered to contribute. 
      Our team is committed to nurturing these connections, as we believe they are essential for personal and professional growth.
    </p>
  </ion-text>

  <ion-item>
    <ion-button size="small" class="like-button" (click)="like()">
      <ion-icon name="thumbs-up-outline"></ion-icon>
      Like
    </ion-button>
    <ion-label class="like-count"> {{ likeCount }} Likes</ion-label>
  </ion-item>
</ion-content>