<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>What We Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">What We Play</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let game of games" class="card-content>">
    <ion-img class="image" [src]="game.bannerUrl"></ion-img>

    <ion-card-header>
      <ion-card-title>{{ game.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ game.description }}</p>
    </ion-card-content>

    <ion-row class="ion-justify-content-center ion-padding>">
      <ion-col size="6">
        <ion-button expand="block" color="primary" [routerLink]="['/achievements', game.id]">
          Achievements
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" [routerLink]="['/teams', game.id]">
          Teams
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
