<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button routerLink="/our-schedule">
        <ion-icon name="chevron-back-outline" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Schedule Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline" class="icon-person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schedule Detail</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card>
      <ion-item>
        <!-- <ion-img [src]="event.banner" class="banner-image"></ion-img> -->
      </ion-item>
      <ion-card-header>
        <ion-card-title>{{event.eventName}} - {{event.gameName}}</ion-card-title>
        <!-- <ion-card-subtitle>{{event.place}}</ion-card-subtitle> -->
        <!-- <ion-card-subtitle>{{event.place}} ({{event.time}})</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content class="content-description">
        {{event.description}} 
      </ion-card-content>
      <ion-item>
        <ion-button 
          size="default" 
          class="like-button" 
          [id]="'present-alert-' + event.eventName" 
          fill="outline" 
          slot="end"> 
          <ion-icon name="notifications-outline"></ion-icon>
          Notify Me
        </ion-button>
        <ion-alert
          [trigger]="'present-alert-' + event.eventName"
          header="Notification"
          message="Notification Created!"
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-item>
    </ion-card>
</ion-content>