.content-description {
    text-align: justify; 
}

.banner-image {
    width: 100%;
    object-fit: cover;
}

ion-title {
    text-align: center;
}

.icon-back {
    font-size: 25px;
}

.icon-person {
    font-size: 32px;
}