.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon-col {
  text-align: center;
  margin-bottom: 25px;
}

ion-icon {
  color: #8438ff;
  font-size: 40px;
}

.icon-text {
  margin-top: 10px; 
  font-size: 20px; 
  color: #8438ff; 
}

ion-title{
  text-align: center; 
}